name: Check
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - run: python -m venv .venv
    - run: |
        . .venv/bin/activate
        echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
    - run: python -m pip install --upgrade pip
    - run: python -m pip install "ruff<1" "mypy<2" pytest
    - run: pip install -r requirements.txt
    - run: ruff check .
    - run: ruff format --check .
    - run: ty check
    - run: mypy --strict .
    - run: pytest .
